<html>
    <head>
        <meta charset="utf-8"> 
    </head>
    <title>Chat</title>
    <body>
        <nav>

        </nav>
        <div class="main-seection">
            <!-- Room selection area -->
            <nav id="sidebar">

            </nav>
            <!-- Mesage area -->
            <div id="rightside-pannel">
                <!-- Display message -->
                <div class="display-message-section">

                </div>
                <!-- input message -->
                <div id="input-area">
                    <input type="text" id="user-message" placeholder="Escribe tu mensaje aquí..." autocomplete="off">
                    <input type="text" id="username" placeholder="username">
                    <input type="text" id="username-to" placeholder="to">
                    <button type="button" id="send-message">Send</button>
                    
                </div>
            </div>
        </div>
        <!-- SocketIO script load -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <!-- Custom socketio js -->
        <script src="{{url_for('chat_app.static', filename='socketio9.js')}}" type="text/javascript"></script>
    </body>
</html>